.wrapper
{
    height:120vh;
    padding: 8em 3em;

}

.panelDesc
{
    float:right;
}

.version-info {
    font-size: 8pt;
    float: right;
  }
  
  .right-aligned-header > .mat-content {
      justify-content: space-between;
  }
  
  .mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 0 0 auto;
  }

